.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

body{
  text-align: center;
  margin:0 ;
}

.card{
  display: inline-block;
  height:100px;
  width:25%;
  background-color: #00ff00;
}
header{
  background-color:#F15B31;
  color:#FFFFFF;
  padding:30px 20px;
}

h1{
  margin:0;
  font-family: Raleway;
  /* color:#0D2C40; */
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
}
nav, nav a{
  background-color: #00A6B3;
  color:#FFFFFF;
  padding:20px 0;
}
a{
  text-decoration: none;
  padding:0 20px;
  border-bottom:2px solid transparent;
}
.game {
  font-family: Raleway;
  /* color:#F15B31; */
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  display:inline-block;
  padding:0 16px;

}
.money{
  font-family: Raleway;
  color:#0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;

}

main{
  width:850px;
  margin:35px auto;

}

img{
  margin:40px 8px 0 8px;
}

footer{
  padding:0 20px;
  background-color:#0D2C40;
  color:white;
  font-size:14px;
  letter-spacing:.08em;
  font-weight:500;
}

.copyright{
  float:left;
  font-family: Raleway;
}
.message{
  float:right;
  font-family: Raleway;
}

.name{
  color:#F15B31;
  font-weight:700;
}

a:hover{
  border-bottom:2px solid white;
}
